.container {
    padding-top: 50px;
    width: 50%;
    margin: auto;
    position: relative;
}

.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.top_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    border: none;
    height: 5.6%;
    margin-bottom: 30px;
}

.top_url {
    color: white;
    font-weight: bold;
    font-size: 0.85rem;
}

.login_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blue;
    border: none;
    height: 5.6%;
}

.login_url {
    color: white;
    font-weight: bold;
    font-size: 0.85rem;
}